<form ng-submit="connectionSettingsCtrl.updateConnectionSettings(connectionSettingsCtrl.connectionSettings)" name="connectionSettings" novalidate>
	<div style="overflow-y: auto; height: 350px;">
		<alert ng-repeat="alert in connectionSettingsCtrl.alerts" type="{{alert.type}}" close="connectionSettingsCtrl.closeAlert($index)">{{alert.msg}}</alert>
		<fieldset>
			<legend>Connection Settings</legend>
			<div class="checkbox">
				<label><input type="checkbox" name="portOpen" ng-model="connectionSettingsCtrl.connectionSettings.port_open"> Open listening port.</label>
			</div>
			<div class="form-group">
				<label for="portRange" class="control-label">Port used for incoming connections:</label>
				<input type="text" name="portRange" id="portRange" ng-model="connectionSettingsCtrl.connectionSettings.port_range" class="form-control">
			</div>
			<div class="checkbox">
				<label><input type="checkbox" name="portRandom" ng-model="connectionSettingsCtrl.connectionSettings.port_random"> Randomize port each time rTorrent starts.</label>
			</div>
			<div class="form-group">
				<label for="globalMaxUploadRate" class="control-label">Global maximum upload rate (kB/s):</label>
				<input type="text" name="globalMaxUploadRate" id="globalMaxUploadRate" ng-model="connectionSettingsCtrl.connectionSettings.global_max_upload_rate" class="form-control">
				<p class="help-block">0 means unlimited.</p>
			</div>
			<div class="form-group">
				<label for="globalMaxDownloadRate" class="control-label">Global maximum download rate (kB/s):</label>
				<input type="text" name="globalMaxDownloadRate" id="globalMaxDownloadRate" ng-model="connectionSettingsCtrl.connectionSettings.global_max_download_rate" class="form-control">
				<p class="help-block">0 means unlimited.</p>
			</div>
			<div class="form-group">
				<label for="uploadSlots" class="control-label">Number of upload slots:</label>
				<input type="text" name="uploadSlots" id="uploadSlots" ng-model="connectionSettingsCtrl.connectionSettings.max_uploads_global" class="form-control">
				<p class="help-block">0 means unlimited.</p>
			</div>
			<div class="form-group">
				<label for="downloadSlots" class="control-label">Number of download slots:</label>
				<input type="text" name="downloadSlots" id="downloadSlots" ng-model="connectionSettingsCtrl.connectionSettings.max_downloads_global" class="form-control">
				<p class="help-block">0 means unlimited.</p>
			</div>
		</fieldset>
	</div>
	<div class="form-group" style="float: right; padding-top: 15px;">
		<button type="button" class="btn btn-default" ng-click="connectionSettingsCtrl.cancel()">Cancel</button>
		<button type="submit" class="btn btn-primary" ng-disabled="connectionSettings.$pristine">Save Connection Settings</button>
	</div>
</form>