<fieldset>
	<legend>Add a Torrent</legend>
	<div class="form-group">
		<label for="torrent-url">Torrent URL:</label>
		<input type="text" name="torrent-url" id="torrent-url" class="form-control" value="" placeholder="Torrent URL or Magnet Link" />
		<span class="help-block">Enter in a Magnet link or Torrent link.</span>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" id="submit-torrent-url"><i class="icon-plus icon-white"></i> Add Link</button>
	</div>
</fieldset>
<fieldset>
	<legend>Upload Torrent File</legend>
	<span class="btn btn-primary fileinput-button">
		<span>Upload file...</span>
		<input id="torrent-upload" type="file" name="torrent" data-url="/torrent/upload">
	</span>
</fieldset>