<div class="row">
	<div class="col-md-2">
		<h4>Filter by Status</h4>
		<ul class="list-unstyled">
			<li><a href="javascript: void(0);" class="clear-filter">All</a></li>
			<li><a href="javascript: void(0);" class="filter-status" data-status="downloading">Downloading</a></li>
			<li><a href="javascript: void(0);" class="filter-status" data-status="finished">Finished</a></li>
			<li><a href="javascript: void(0);" class="filter-status" data-status="seeding">Seeding</a></li>
		</ul>
		<h4>Hide Columns</h4>
		<form id="column-toggle">
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="status" checked> Status</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="size" checked> Size</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="percent_downloaded" checked> Done</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="downloaded" checked> Downloaded</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="uploaded" checked> Uploaded</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="dl_speed" checked> DL Speed</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="ul_speed" checked> UL Speed</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="time_remaining" checked> ETA</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="peers" checked> Peers</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="toggle-column" value="seeds" checked> Seeds</label>
				</div>
			</div>
		</form>
	</div>
	<div id="torrents" class="col-md-10" role="main" style="overflow-x: scroll;">
		<table class="table table-condensed table-hover" style="width: 1400px;">
			<thead>
				<tr>
					<th data-column="name" style="width: 30%;"><span>Name</span><i class="caret"></i></th>
					<th data-column="status"><span>Status</span><i class="caret"></i></th>
					<th data-column="size"><span>Size</span><i class="caret"></i></th>
					<th data-column="percent_downloaded"><span>Done</span><i class="caret"></i></th>
					<th data-column="downloaded" style="width: 120px;"><span>Downloaded</span><i class="caret"></i></th>
					<th data-column="uploaded"><span>Uploaded</span><i class="caret"></i></th>
					<th data-column="dl_speed"><span>DL</span><i class="caret"></i></th>
					<th data-column="ul_speed"><span>UL</span><i class="caret"></i></th>
					<th data-column="time_remaining" style="width: 160px;"><span>ETA</span><i class="caret"></i></th>
					<th data-column="peers"><span>Peers</span><i class="caret"></i></th>
					<th data-column="seeds"><span>Seeds</span><i class="caret"></i></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<ul class="pagination pagination-lg pull-right">
	</ul>
</div>