<form ng-submit="torrentsAddCtrl.loadTorrent(torrentsAddCtrl.torrent)" name="addTorrent" novalidate>
	<div class="modal-header">
	    <h3>Add Torrent</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label">Choose where the torrent is coming from:</p>
			<div class="btn-group center-block">
		        <label class="btn btn-default" ng-model="torrentsAddCtrl.source" btn-radio="'web'" required>Web</label>
		        <label class="btn btn-default" ng-model="torrentsAddCtrl.source" btn-radio="'computer'" required>Computer</label>
		    </div>
		</div>
		<div class="form-group" ng-if="torrentsAddCtrl.source == 'web'" ng-class="{'has-error': addTorrent.torrentUrl.$invalid && addTorrent.torrentUrl.$touched}">
			<input type="text" id="torrentUrl" name="torrentUrl" class="form-control" placeholder="Enter in Torrent URL or Magnet Link" ng-model="torrentsAddCtrl.torrent.url" required torrent-url-validator>
			<div class="help-block" ng-show="addTorrent.torrentUrl.$invalid && addTorrent.torrentUrl.$touched">
				<p ng-show="addTorrent.torrentUrl.$error.required"><strong>Error:</strong> URL is required!</p>
				<p ng-show="addTorrent.torrentUrl.$error.torrentUrl"><strong>Error:</strong> URL is not a valid http/https or magnet link!</p>
			</div>
		</div>
		<div class="form-group" ng-if="torrentsAddCtrl.source == 'computer'">
			<button type="button" ng-file-select ng-file-change="torrentsAddCtrl.fileSelected($files, $event)" ng-model="torrentsAddCtrl.torrent.file" class="btn btn-default" file-validator>Upload Torrent</button> <span style="white-space: nowrap; text-overflow: ellipsis; width: 75%; overflow: hidden; display: inline-block; line-height: 33px; vertical-align: middle;">{{torrentsAddCtrl.torrent.file.name}}</span>
		</div>
		<div class="checkbox">
			<label for="changeTorrentLocation"><input type="checkbox" id="changeTorrentLocation" ng-model="torrentsAddCtrl.changeTorrentLocation"> Change torrent download location</label>
			<p class="help-block">Check box to change the location of where the torrent is downloaded. The default is the download directory set by rtorrent.</p>
		</div>
		<div class="form-group" ng-if="torrentsAddCtrl.changeTorrentLocation" ng-class="{'has-error': addTorrent.torrentPath.$invalid && addTorrent.torrentPath.$touched}">
			<label for="torrentPath" class="control-label">Torrent save directory:</label>
			<input type="text" id="torrentPath" name="torrentPath" class="form-control" placeholder="{{torrentsAddCtrl.defaultDownloadPath}}" ng-model="torrentsAddCtrl.torrent.path" required>
			<p class="help-block">Default path is {{torrentsAddCtrl.defaultDownloadPath}}. <br>Go to Settings > Download or modify your rtorrent config file to change the default path. Specifying a path here will only impact the current torrent.</p>
			<div class="help-block" ng-show="addTorrent.torrentPath.$invalid && addTorrent.torrentPath.$touched">
				<p ng-show="addTorrent.torrentPath.$error.required"><strong>Error:</strong> A path is required if you check <i>Change torrent download location</i>!</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="addTorrent.$invalid">Add Torrent</button>
			<button type="button" class="btn btn-default" ng-click="torrentsAddCtrl.cancel()">Cancel</button>
		</div>
	</div>
</form>