<form name="addFeed" novalidate>
	<div class="modal-header">
	    <h3>Add Feed</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="feedName">Name (Required):</label>
			<input type="text" id="feedName" name="feedName" class="form-control" ng-model="feedsAdd.feed.name" required>
			<p class="help-block" ng-show="addFeed.feedName.$error.required" class="has-error">Please enter in a name.</p>
		</div>
		<div class="form-group">
			<label for="feedUrl">URL (Required):</label>
			<input type="text" id="feedUrl" name="feedUrl" class="form-control" ng-model="feedsAdd.feed.url" required>
			<p class="help-block" ng-show="addFeed.feedUrl.$error.required" class="has-error">Please enter in a URL.</p>
		</div>
		<div class="checkbox">
			<label for="autoDownload"><input type="checkbox" id="autoDownload" ng-model="feedsAdd.feed.autoDownload"> Auto Download</label>
			<p class="help-block">Check box to automatically download torrents when the feed is updated.</p>
		</div>
		<div class="checkbox">
			<label for="regexFilter"><input type="checkbox" id="regexFilter" ng-model="feedsAdd.feed.regexFilter"> Add advanced filtering</label>
			<p class="help-block">Check box to add regex filters.</p>
		</div>
		<div ng-if="feedsAdd.feed.regexFilter">
			<h4>Regex Filters</h4>
			<div class="form-inline" style="margin-bottom: 10px;">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Regular expression" ng-model="feedsAdd.newFilter.regex" style="width: 300px;" required>
				</div>
				<div class="form-group">
					<label for="filterTypeInclude" class="radio-inline">
						<input type="radio" id="filterTypeInclude" ng-model="feedsAdd.newFilter.type" value="include" required> Include
					</label>
					<label for="filterTypeExclude" class="radio-inline">
						<input type="radio" id="filterTypeExclude" ng-model="feedsAdd.newFilter.type" value="exclude" required> Exclude
					</label>
				</div>
				<button type="button" class="btn" ng-click="feedsAdd.addFilter(feedsAdd.newFilter)"><i class="fa fa-plus"></i></button>
			</div>
			<ul class="list-unstyled">
				<li ng-repeat="filter in feedsAdd.feed.filters track by $index">{{filter.regex}} <span class="badge">{{filter.type}}</span> <a href="javascript: void(0);" ng-click="feedsAdd.deleteFilter($index)"><i class="fa fa-times"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" ng-disabled="feedsAdd.checkDisabled()" ng-click="feedsAdd.addRssFeed()">Add Feed</button>
			<button type="button" class="btn btn-default" ng-click="feedsAdd.cancel()">Cancel</button>
		</div>
	</div>
</form>