<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
	$(document).bind( "mobileinit", function(event) {
		$.extend($.mobile.zoom, {locked:true,enabled:false});
	});
</script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<script type="text/javascript" src="/js/socket.io.js"></script>
<script type="text/javascript" src="/js/ICanHaz.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
<script id="torrent" type="text/html">
<li data-hash="\{{hash}}" class="\{{status}}">
	<h3 class="name">\{{name}}</h3>
	<p><span class="downloaded">\{{downloaded}}</span> of <span class="size">\{{size}}</span> (<span class="percent_downloaded">\{{percent_downloaded}}</span>) - <span class="time_remaining">\{{time_remaining}}</span></p>
	<p>Peers: <span class="peers">\{{peers}}</span> (<span class="total_peers">\{{total_peers}}</span>), Seeds: <span class="seeds">\{{seeds}}</span> (<span class="total_seeds">\{{total_seeds}}</span>)</p>
	<div class="progressbar"></div>
	<p>DL: <span class="dl_speed">\{{dl_speed}}</span>, UL: <span class="ul_speed">\{{ul_speed}}</span></p>
	<div data-role="controlgroup" data-type="horizontal">
		<a href="#play" class="play" data-hash="\{{hash}}" data-role="button" data-icon="play" data-iconpos="notext" data-theme="c" data-inline="true">Start</a>
		<a href="#pause" class="pause" data-hash="\{{hash}}" data-role="button" data-icon="pause" data-iconpos="notext" data-theme="c" data-inline="true">Pause</a>
		<a href="#stop" class="stop" data-hash="\{{hash}}" data-role="button" data-icon="stop" data-iconpos="notext" data-theme="c" data-inline="true">Stop</a>
		<a href="#delete" class="delete" data-hash="\{{hash}}" data-role="button" data-icon="delete" data-iconpos="notext" data-theme="c" data-inline="true">Remove</a>
	</div>
</li>
</script>
<script type="text/javascript">

</script>
<script type="text/javascript">
	$("#torrent-upload").fileupload(
		{ dataType: "json" }
	);

	var hashExistsLocal = function(hash) {
		for (var i = 0; i < $("#torrents").children().length; i++) {
			if (hash === $("#torrents li").eq(i).data("hash")) {
				return true;
			}
		}
		return false;
	}

	var hashExistsList = function(hash, torrents) {
		for (var i = 0; i < torrents.length; i++) {
			if (torrents[i].hash === hash) {
				return true;
			}
		}
		return false;
	}


	var socket = io.connect("http://home.roastlechon.com:3000");
	socket.on("total peers", function(peers) {
		$("#torrents li[data-hash='" + peers.hash + "'] span.total_peers").text(peers.total_peers);
	});
	socket.on("total seeds", function(seeds) {
		$("#torrents li[data-hash='" + seeds.hash + "'] span.total_seeds").text(seeds.total_seeds);
	});
	socket.on("torrents", function(torrents) {
		$("#torrents li").each(function() {
			if (!hashExistsList($(this).data("hash"), torrents)) {
				$(this).remove();
			}
		});
		for (var i = 0; i < torrents.length; i++) {
			var tor = torrents[i];
			if (hashExistsLocal(tor.hash)) {
				socket.emit('get total seeds for hash', tor.hash);
				socket.emit('get total peers for hash', tor.hash);
				$("#torrents li[data-hash='" + tor.hash + "'] h3.name").text(tor.name);
				$("#torrents li[data-hash='" + tor.hash + "'] span.downloaded").text(tor.downloaded);
				$("#torrents li[data-hash='" + tor.hash + "'] span.size").text(tor.size);
				$("#torrents li[data-hash='" + tor.hash + "'] span.dl_speed").text(tor.dl_speed);
				$("#torrents li[data-hash='" + tor.hash + "'] span.ul_speed").text(tor.ul_speed);
				$("#torrents li[data-hash='" + tor.hash + "'] span.percent_downloaded").text(tor.percent_downloaded);
				$("#torrents li[data-hash='" + tor.hash + "'] span.time_remaining").text(tor.time_remaining);
				$("#torrents li[data-hash='" + tor.hash + "'] span.peers").text(tor.peers);
				$("#torrents li[data-hash='" + tor.hash + "'] span.seeds").text(tor.seeds);
				$("#torrents li[data-hash='" + tor.hash + "']").removeClass().addClass(tor.status);
				if (tor.status === "stopped") {
					$("#torrents li[data-hash='" + tor.hash + "']").data("theme", "c");
				} else if (tor.status === "downloading") {
					$("#torrents li[data-hash='" + tor.hash + "']").data("theme", "a");
				} else if (tor.status === "finished") {
					$("#torrents li[data-hash='" + tor.hash + "']").data("theme", "b");
				} else if (tor.status === "seeding") {
					$("#torrents li[data-hash='" + tor.hash + "']").data("theme", "b");
				} else if (tor.status === "checking") {
					$("#torrents li[data-hash='" + tor.hash + "']").data("theme", "e");
				}
				$("#torrents").listview("refresh");
				$("#torrents a").button();
			} else {
				var html = ich.torrent(tor);
				$("#torrents").append(html);
				$("#torrents").listview("refresh");
				$("#torrents li[data-hash='" + tor.hash + "'] a.play").click(function() {
					$.ajax({
						type : "POST",
						url : "/torrent",
						contentType : "application/json",
						data : JSON.stringify({ hash : $(this).data("hash"), action : "play"})
					});
				});
				$("#torrents li[data-hash='" + tor.hash + "'] a.pause").click(function() {
					$.ajax({
						type : "POST",
						url : "/torrent",
						contentType : "application/json",
						data : JSON.stringify({ hash : $(this).data("hash"), action : "pause"})
					});
				});
				$("#torrents li[data-hash='" + tor.hash + "'] a.stop").click(function() {
					$.ajax({
						type : "POST",
						url : "/torrent",
						contentType : "application/json",
						data : JSON.stringify({ hash : $(this).data("hash"), action : "stop"})
					});
				});
				$("#torrents li[data-hash='" + tor.hash + "'] a.delete").click(function() {
					$.ajax({
						type : "POST",
						url : "/torrent",
						contentType : "application/json",
						data : JSON.stringify({ hash : $(this).data("hash"), action : "delete"})
					});
				});
				$("#torrents a").button();
			}
		}
	});
	$("#submit-torrent-url").click(function() {
		$.ajax({
			type : "POST",
			url : "/add",
			contentType : "application/json",
			data : JSON.stringify({"torrentUrl" : $("#torrent-url").val()})
		}).done(function(data) {
			if (data === "ok") {
				$.mobile.changePage("#main");
			}
		});
	});
</script>
</body>
</html>