<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0" >
	<title>{{page.head.title}}</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" href="/css/jqm-icon-pack-2.0-original.css" />
	<link rel="stylesheet" href="/css/jquery.fileupload-ui.css" />
	<style type="text/css">
	/*
	.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
		display: block;
		padding: 0.9em 75px 0.9em 15px;
	}
	div.ui-slider-switch {
		position: absolute;
		right: 0;
		width: 44%;
	}
	*/
	</style>
</head>
<body>