<div class="modal-dialog">
    <div class="modal-content">
    	<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Editing {{title}}</h4>
			</div>
			<div class="modal-body">
				<fieldset>
					<legend>Edit RSS Feed</legend>
					<div class="form-group">
						<label for="rss-feed-title">Title:</label>
						<input type="text" class="form-control" id="rss-feed-title" value="{{title}}" />
					</div>
					<div class="form-group">
						<label for="rss-feed-url">URL:</label>
						<input type="text" class="form-control" id="rss-feed-url" value="{{rss}}" />
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary save">Save changes</button>
				<button class="btn btn-default cancel">Cancel</button>
			</div>
		</form>
	</div>
</div>	