<div style="position: relative;">
	<div class="nav-bar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="" class="navbar-brand">nodejs-rtorrent <small><app-version /></small></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="dropdown" dropdown>
					<a href="" class="dropdown-toggle" dropdown-toggle>Torrents <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="top.torrents">View Torrents</a></li>
						<li><a ui-sref="addTorrent">Add Torrent</a></li>
					</ul>
				</li>
				<li class="dropdown" dropdown>
					<a href="" class="dropdown-toggle" dropdown-toggle>Feeds <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="top.feeds">View Feeds</a></li>
						<li><a ui-sref="addFeed">Add Feed</a></li>
					</ul>
				</li>
				<!-- <li ui-sref-active="active"><a ui-sref="top.search">Search</a></li> -->
				<li ui-sref-active="active"><a ui-sref="settings">Settings</a></li>
			</ul>
			<div ng-controller="njrt.AuthenticationCtrl as authenticationCtrl">
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!authenticationCtrl.Authentication.isAuthenticated()" ng-cloak><a ui-sref="login">Login</a></li>
				</ul>
				<p class="navbar-text navbar-right" ng-if="authenticationCtrl.Authentication.isAuthenticated()" ng-cloak>Logged in as {{authenticationCtrl.Authentication.getCurrentUser().email}}. <a href="javascript: void(0);" ng-click="authenticationCtrl.Authentication.logout()">Logout</a></p>
			</div>
		</div>
	</div>
	<div ui-view="content"></div>
	<div class="notifications" ng-controller="njrt.NotificationCtrl as notificationCtrl" style="position: absolute; width: 50%; bottom: 100px; left: 0; right: 0; margin: 0 auto; z-index: 5;" ng-cloak>
		<alert ng-repeat="notification in notificationCtrl.Notification.notifications" type="{{notification.type}}" close="notificationCtrl.Notification.remove($index)">
      <div ng-if="!notification.isHtml">{{notification.msg}}</div>
      <div ng-if="notification.isHtml" bind-html-compile="notification.msg"></div>
    </alert>
	</div>
</div>
