<div class="content" style="position: relative;" ng-style="style()" resize>
	<div style="position: absolute; bottom: 20px; left: -1px; height: 240px; background: rgba(255, 255, 255, 0.85); display: block; z-index: 30; border: 1px solid #cacaca; box-shadow: 5px 3px 8px #cacaca; ">
		<div style="overflow-y: scroll; width: 200px; height: 240px; float: left; padding: 10px;" ng-hide="feedPanel">
			<h3>Actions</h3>
			<ul class="list-unstyled">
				<li><a ui-sref="home.feeds.add">Add Feed</a></li>
			</ul>
			<h4>Hide Columns</h4>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-click="" checked> RSS</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="" checked> Last Checked</label>
				</div>
			</div>
		</div>
		<div style="width: 20px; height: 100%; float: left;">
			<a href="" style="display: block; height: 100%;" ng-click="feedPanel = !feedPanel"><i class="fa fa-lg" style="padding: 10px 5px;" ng-class="{'fa-caret-right': feedPanel, 'fa-caret-left': !feedPanel}"></i></a>
		</div>
	</div>
	<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow-y: scroll;">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>RSS</th>
					<th>Last Checked</th>
					<th>Auto Download?</th>
					<th>Refresh</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="feed in feedsCtrl.Feeds.feeds">
					<td style="width: 30%;"><a ui-sref="home.feeds.view({id: feed._id})">{{feed.title}}</a></td>
					<td>{{feed.rss}}</td>
					<td>{{feed.lastChecked * 1000 | date:'medium'}}</td>
					<td>{{feed.autoDownload}}</td>
					<td><a href="#">Refresh</a></td>
					<td><a ui-sref="home.feeds.edit({id: feed._id})">Edit</a></td>
					<td><a ui-sref="home.feeds.delete({id: feed._id})">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>