<div class="content" style="position: relative;" ng-style="style()" njrt-resize>
	<div class="table-container">
		<div class="table-wrapper" style="position: absolute; top: 0; bottom: 0; overflow: auto;">
			<table class="table table-condensed table-hover" style="margin-bottom: 0; min-width: 1400px;" float-thead="floatTheadOptions" ng-model="torrentsCtrl.Torrents.torrents">
				<thead style="background: #ffffff;">
					<tr>
						<th>
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='name';torrentsCtrl.reverse=!torrentsCtrl.reverse">Name <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='name' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='name' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="status_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='status';torrentsCtrl.reverse=!torrentsCtrl.reverse">Status <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='status' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='status' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="size_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='size';torrentsCtrl.reverse=!torrentsCtrl.reverse">Size <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='size' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='size' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="percent_downloaded_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='percent_downloaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Done <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='percent_downloaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='percent_downloaded' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="downloaded_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='downloaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Downloaded <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='downloaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='downloaded' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="uploaded_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='uploaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Uploaded <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='uploaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='uploaded' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="dl_speed_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='dl_speed';torrentsCtrl.reverse=!torrentsCtrl.reverse">DL <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='dl_speed' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='dl_speed' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="ul_speed_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='ul_speed';torrentsCtrl.reverse=!torrentsCtrl.reverse">UL <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='ul_speed' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='ul_speed' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="time_remaining_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='time_remaining';torrentsCtrl.reverse=!torrentsCtrl.reverse">ETA <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='time_remaining' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='time_remaining' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="peers_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='peers';torrentsCtrl.reverse=!torrentsCtrl.reverse">Peers <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='peers' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='peers' && !torrentsCtrl.reverse}"></i></a>
						</th>
						<th ng-hide="seeds_col">
							<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='seeds';torrentsCtrl.reverse=!torrentsCtrl.reverse">Seeds <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='seeds' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='seeds' && !torrentsCtrl.reverse}"></i></a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="torrent in torrentsCtrl.Torrents.torrents | orderBy:torrentsCtrl.predicate:torrentsCtrl.reverse | filter:{status: torrentsCtrl.status} | filter:torrentsCtrl.searchText track by torrent.hash" class="torrent" ng-click="torrentsCtrl.Torrents.selectTorrent(torrent.hash)" ng-class="{'active': torrentsCtrl.Torrents.isTorrentSelected(torrent.hash)}">
						<td>
							<h5 title="{{torrent.name}}" style="width: 420px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{torrent.name}}</h5>
						</td>
						<td ng-hide="status_col">{{torrent.status}}</td>
						<td ng-hide="size_col"><div style="width: 90px;">{{torrent.size | bytes}}</div></td>
						<td ng-hide="percent_downloaded_col">
							<div class="progress" style="width: 80px;">
								<div class="progress-bar" style="width: {{torrent.percent_downloaded | percentage}}" ng-class="{'progress-bar-warning': torrent.status === 'checking', 'progress-bar-success': torrent.status === 'seeding'}">{{torrent.percent_downloaded  | percentage}}</div>
							</div>
						</td>
						<td ng-hide="downloaded_col"><div style="width: 90px;">{{torrent.downloaded | bytes}}</div></td>
						<td ng-hide="uploaded_col"><div style="width: 90px;">{{torrent.uploaded | bytes}}</div></td>
						<td ng-hide="dl_speed_col"><div style="width: 90px;">{{torrent.dl_speed | dataTransferRate}}</div></td>
						<td ng-hide="ul_speed_col"><div style="width: 90px;">{{torrent.ul_speed | dataTransferRate}}</div></td>
						<td ng-hide="time_remaining_col"><div style="width: 120px;">{{torrent.time_remaining | time}}</div></td>
						<td ng-hide="peers_col"><div style="width: 90px;">{{torrent.peers}} ({{torrent.total_peers}})</div></td>
						<td ng-hide="seeds_col"><div style="width: 90px;">{{torrent.seeds}} ({{torrent.total_seeds}})</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div style="position: absolute; bottom: 0; background: #fafafa; width: 100%; border-top: 2px solid #cacaca;">
		<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
			<span class="dropdown dropup" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Filter</button>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-submenu">
						<a href="javascript: void(0);">Filter by Status</a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="torrentsCtrl.status=''">All <i ng-class="{'fa fa-check': torrentsCtrl.status===''}" ng-init="torrentsCtrl.status=''"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.status='downloading'">Downloading <i ng-class="{'fa fa-check': torrentsCtrl.status==='downloading'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.status='finished'">Finished <i ng-class="{'fa fa-check': torrentsCtrl.status==='finished'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.status='stopped'">Stopped <i ng-class="{'fa fa-check': torrentsCtrl.status==='stopped'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.status='seeding'">Seeding <i ng-class="{'fa fa-check': torrentsCtrl.status==='seeding'}"></i></a></li>
						</ul>
					</li>
					<li class="dropdown-submenu">
						<a href="javascript: void(0);">Hide Columns</a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="status_col=!status_col; torrentsCtrl.reflowTable()">Status <i ng-class="{'fa fa-check': !status_col}"></i></a></li>
							<li><a href="" ng-click="size_col=!size_col; torrentsCtrl.reflowTable()">Size <i ng-class="{'fa fa-check': !size_col}"></i></a></li>
							<li><a href="" ng-click="percent_downloaded_col=!percent_downloaded_col; torrentsCtrl.reflowTable()">Done <i ng-class="{'fa fa-check': !percent_downloaded_col}"></i></a></li>
							<li><a href="" ng-click="downloaded_col=!downloaded_col; torrentsCtrl.reflowTable()">Downloaded <i ng-class="{'fa fa-check': !downloaded_col}"></i></a></li>
							<li><a href="" ng-click="uploaded_col=!uploaded_col; torrentsCtrl.reflowTable()">Uploaded <i ng-class="{'fa fa-check': !uploaded_col}"></i></a></li>
							<li><a href="" ng-click="dl_speed_col=!dl_speed_col; torrentsCtrl.reflowTable()">DL Speed <i ng-class="{'fa fa-check': !dl_speed_col}"></i></a></li>
							<li><a href="" ng-click="ul_speed_col=!ul_speed_col; torrentsCtrl.reflowTable()">UL Speed <i ng-class="{'fa fa-check': !ul_speed_col}"></i></a></li>
							<li><a href="" ng-click="time_remaining_col=!time_remaining_col; torrentsCtrl.reflowTable()">ETA <i ng-class="{'fa fa-check': !time_remaining_col}"></i></a></li>
							<li><a href="" ng-click="peers_col=!peers_col; torrentsCtrl.reflowTable()">Peers <i ng-class="{'fa fa-check': !peers_col}"></i></a></li>
							<li><a href="" ng-click="seeds_col=!seeds_col; torrentsCtrl.reflowTable()">Seeds <i ng-class="{'fa fa-check': !seeds_col}"></i></a></li>
						</ul>
					</li>
				</ul>
			</span>
			<input type="text" ng-model="torrentsCtrl.searchText" placeholder="Filter by text" class="form-control" style="width: 200px; display: inline-block;">
			<div ng-if="torrentsCtrl.Torrents.selectedTorrents.length > 0" style="display: inline-block;">
				<span style="vertical-align: middle; margin-left: 40px; margin-right: 20px;">{{torrentsCtrl.Torrents.selectedTorrents.length}} selected</span>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.start(torrentsCtrl.Torrents.selectedTorrents)">Play</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.pause(torrentsCtrl.Torrents.selectedTorrents)">Pause</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.stop(torrentsCtrl.Torrents.selectedTorrents)">Stop</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.remove(torrentsCtrl.Torrents.selectedTorrents)">Remove</button>
				<span class="dropdown dropup" dropdown>
					<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><i class="fa fa-bars"></i></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript: void(0);" ng-click="">Details</a></li>
						<li><a ui-sref="deleteTorrentData({id: torrentsCtrl.Torrents.selectedTorrents})">Delete with Data</a></li>
						<li class="dropdown-submenu">
							<a href="javascript: void(0);">Priority</a>
							<ul class="dropdown-menu">
								<li><a href="javascript: void(0);">High</a></li>
								<li><a href="javascript: void(0);">Medium</a></li>
								<li><a href="javascript: void(0);">Low</a></li>
								<li><a href="javascript: void(0);">Don't Download</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a href="javascript: void(0);">Set Channel</a>
							<ul class="dropdown-menu">
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, '')">No Channel</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_4')">Up16</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_3')">Up32</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_2')">Up64</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_1')">Up128</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_0')">Up256</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_4')">Down16</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_3')">Down32</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_2')">Down64</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_1')">Down128</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_0')">Down256</a></li>
							</ul>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</div>
