<div class="content" style="position: relative;" ng-style="style()" njrt-resize>
	<div class="table-container">
		<div class="table-wrapper" style="position: absolute; top: 0; bottom: 6px; overflow-y: scroll;" inview-container>
			<table class="table table-condensed table-hover" style="margin-bottom: 0; min-width: 1400px;" ng-model="torrentsCtrl.tableVirtualScrollOptions.dataSource.data" table-virtual-scroll  table-virtual-scroll-options="torrentsCtrl.tableVirtualScrollOptions" float-thead="floatTheadOptions"></table>
		</div>
	</div>
	<div style="position: absolute; bottom: 0; background: #fafafa; width: 100%; border-top: 2px solid #cacaca;">
		<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
			<span class="dropdown dropup" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Filter</button>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-submenu">
						<a href="javascript: void(0);">Filter by Status</a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="torrentsCtrl.filterByStatus('')">All <i ng-class="{'fa fa-check': torrentsCtrl.filterStatus===''}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.filterByStatus('downloading')">Downloading <i ng-class="{'fa fa-check': torrentsCtrl.filterStatus==='downloading'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.filterByStatus('finished')">Finished <i ng-class="{'fa fa-check': torrentsCtrl.filterStatus==='finished'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.filterByStatus('stopped')">Stopped <i ng-class="{'fa fa-check': torrentsCtrl.filterStatus==='stopped'}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.filterByStatus('seeding')">Seeding <i ng-class="{'fa fa-check': torrentsCtrl.filterStatus==='seeding'}"></i></a></li>
						</ul>
					</li>
					<li class="dropdown-submenu">
						<a href="javascript: void(0);">Hide Columns</a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.status.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.status.visible; torrentsCtrl.reflowTable()">Status <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.status.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.size.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.size.visible; torrentsCtrl.reflowTable()">Size <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.size.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.done.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.done.visible; torrentsCtrl.reflowTable()">Done <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.done.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.downloaded.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.downloaded.visible; torrentsCtrl.reflowTable()">Downloaded <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.downloaded.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.uploaded.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.uploaded.visible; torrentsCtrl.reflowTable()">Uploaded <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.uploaded.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.dl.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.dl.visible; torrentsCtrl.reflowTable()">DL Speed <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.dl.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.ul.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.ul.visible; torrentsCtrl.reflowTable()">UL Speed <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.ul.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.eta.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.eta.visible; torrentsCtrl.reflowTable()">ETA <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.eta.visible}"></i></a></li>
							<li><a href="" ng-click="torrentsCtrl.tableVirtualScrollOptions.columns.peers.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.peers.visible; torrentsCtrl.reflowTable()">Peers <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.peers.visible}"></i></a></li>
							<li><a href="" ng-click="storrentsCtrl.tableVirtualScrollOptions.columns.seeds.visible = !torrentsCtrl.tableVirtualScrollOptions.columns.seeds.visible; torrentsCtrl.reflowTable()">Seeds <i ng-class="{'fa fa-check': torrentsCtrl.tableVirtualScrollOptions.columns.seeds.visible}"></i></a></li>
						</ul>
					</li>
				</ul>
			</span>
			<input type="text" ng-model="torrentsCtrl.searchText" placeholder="Filter by text" class="form-control" style="width: 200px; display: inline-block;" ng-model-options="{ debounce: 300 }">
			<div ng-if="torrentsCtrl.Torrents.selectedTorrents.length > 0" style="display: inline-block;">
				<span style="vertical-align: middle; margin-left: 40px; margin-right: 20px;">{{torrentsCtrl.Torrents.selectedTorrents.length}} selected</span>
        <button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.selectedTorrents = [];">Clear Selected</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.start(torrentsCtrl.Torrents.selectedTorrents)" style="margin-left: 40px;">Play</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.pause(torrentsCtrl.Torrents.selectedTorrents)">Pause</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.stop(torrentsCtrl.Torrents.selectedTorrents)">Stop</button>
				<button type="button" class="btn btn-default" ng-click="torrentsCtrl.Torrents.remove(torrentsCtrl.Torrents.selectedTorrents); torrentsCtrl.tableVirtualScrollOptions.deleteRows(torrentsCtrl.Torrents.selectedTorrents);">Remove</button>
				<span class="dropdown dropup" dropdown>
					<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><i class="fa fa-bars"></i></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript: void(0);" ng-click="">Details</a></li>
						<li><a ui-sref="deleteTorrentData({id: torrentsCtrl.Torrents.selectedTorrents})">Delete with Data</a></li>
						<li class="dropdown-submenu">
							<a href="javascript: void(0);">Priority</a>
							<ul class="dropdown-menu">
								<li><a href="javascript: void(0);">High</a></li>
								<li><a href="javascript: void(0);">Medium</a></li>
								<li><a href="javascript: void(0);">Low</a></li>
								<li><a href="javascript: void(0);">Don't Download</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a href="javascript: void(0);">Set Channel</a>
							<ul class="dropdown-menu">
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, '')">No Channel</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_4')">Up16</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_3')">Up32</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_2')">Up64</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_1')">Up128</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'up_0')">Up256</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_4')">Down16</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_3')">Down32</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_2')">Down64</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_1')">Down128</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrentsCtrl.Torrents.selectedTorrents, 'down_0')">Down256</a></li>
							</ul>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</div>
