<div class="modal-header">
    <h3 ng-if="deleteTorrentDataCtrl.torrent.length == 1">Delete '{{deleteTorrentDataCtrl.torrent[0].name}}'?</h3>
    <h3 ng-if="deleteTorrentDataCtrl.torrent.length > 1">Delete selected torrents?</h3>
</div>
<div class="modal-body">
	<p ng-if="deleteTorrentDataCtrl.torrent.length == 1">Deleting will remove the torrent from the list along with its data.</p>
	<div ng-if="deleteTorrentDataCtrl.torrent.length > 1">
		<p>Deleting will remove the torrents from the list along with their data.</p>
		<ul>
			<li ng-repeat="torrent in deleteTorrentDataCtrl.torrent">{{torrent.name}}</li>
		</ul>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="deleteTorrentDataCtrl.deleteTorrentData(deleteTorrentDataCtrl.torrent)">Delete</button>
    <button class="btn btn-default" ng-click="deleteTorrentDataCtrl.cancel()">Cancel</button>
</div>