<div class="modal-header">
    <h3>{{'ADD_FEED_HEADER' | translate}}</h3>
</div>
<div class="modal-body">
	<form name="addFeed" novalidate>
		<p ng-show="feedsAddCtrl.error" class="bg-danger text-danger" ng-cloak><strong>{{'ERROR_LEAD' | translate}}</strong> {{feedsAddCtrl.error}}</p>
		<div class="form-group" ng-class="{'has-error': addFeed.feedName.$invalid && addFeed.feedName.$touched}">
			<label for="feedName" class="control-label">{{'ADD_FEED_FEEDNAME_LABEL' | translate}}</label>
			<input type="text" id="feedName" name="feedName" class="form-control" ng-model="feedsAddCtrl.feed.name" required>
			<p class="help-block" ng-show="addFeed.feedName.$error.required" class="has-error">{{'ADD_FEED_FEEDNAME_HELPERR_REQUIREDNAME' | translate}}</p>
		</div>
		<div class="form-group" ng-class="{'has-error': addFeed.feedUrl.$invalid && addFeed.feedUrl.$touched}">
			<label for="feedUrl" class="control-label">{{'ADD_FEED_FEEDURL_LABEL' | translate}}</label>
			<input type="text" id="feedUrl" name="feedUrl" class="form-control" ng-model="feedsAddCtrl.feed.url" required>
			<p class="help-block" ng-show="addFeed.feedUrl.$error.required" class="has-error">{{'ADD_FEED_FEEDNAME_HELPERR_REQUIREDURL' | translate}}</p>
		</div>
		<div class="checkbox">
			<label for="changeTorrentLocation"><input type="checkbox" id="changeTorrentLocation" ng-model="feedsAddCtrl.changeTorrentLocation"> {{'ADD_FEED_CHANGE_TORRENT_DL_LOCATION'|translate}}</label>
			<p class="help-block">{{'ADD_FEED_HELP_CHANGE_TORRENT_DL_LOCATION'|translate}}</p>
		</div>
		<div class="form-group" ng-if="feedsAddCtrl.changeTorrentLocation">
			<label for="torrentPath" class="control-label">{{'ADD_FEED_TORRENT_SAVE_LOCATION'|translate}}</label>
			<input type="text" id="torrentPath" name="torrentPath" class="form-control" placeholder="{{feedsAddCtrl.defaultDownloadPath}}" ng-model="feedsAddCtrl.feed.path" required>
			<p class="help-block">{{'ADD_FEED_TORRENT_SAVE_LOCATION_DEFAULT_PREFIX'|translate}}{{feedsAddCtrl.defaultDownloadPath}}{{'ADD_FEED_TORRENT_SAVE_LOCATION_DEFAULT_SUFFIX'|translate}}<br>{{'ADD_FEED_HELP_CHANGE_TORRENT_SAVE_LOCATION'|translate}}</p>
			<div class="help-block" ng-show="addFeed.path.$invalid && addFeed.path.$touched">
				<p ng-show="addFeed.path.$error.required"><strong>{{'ERROR_LEAD' | translate}}</strong>{{'ADD_FEED_ERROR_PATH_REQ_IF_CHANGE_TORRENT_DL_LOCATION'|translate}}</p>
			</div>
		</div>
		<div class="checkbox">
			<label for="autoDownload"><input type="checkbox" id="autoDownload" ng-model="feedsAddCtrl.feed.autoDownload">{{'ADD_FEED_AUTODL'|translate}}</label>
			<p class="help-block">{{'ADD_FEED_HELP_AUTODL'|translate}}</p>
		</div>
		<div class="checkbox">
			<label for="hasRegexFilter"><input type="checkbox" id="hasRegexFilter" ng-model="feedsAddCtrl.hasRegexFilter"> {{'ADD_FEED_REGEX'|translate}}</label>
			<p class="help-block">{{'ADD_FEED_HELP_REGEX'|translate}}.</p>
		</div>
	</form>
	<div ng-if="feedsAddCtrl.hasRegexFilter">
		<form name="regexFilter" novalidate>
			<h4>{{'ADD_FEED_REGEX_HEADER'|translate}}</h4>
			<div class="form-inline" style="margin-bottom: 10px;">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Regular expression" name="regexFilter.regex" ng-model="feedsAddCtrl.newFilter.regex" style="width: 320px;" required>
				</div>
				<div class="form-group">
					<label for="filterTypeInclude" class="radio-inline">
						<input type="radio" id="filterTypeInclude" name="regexFilter.type" ng-model="feedsAddCtrl.newFilter.type" value="include" required> {{'ADD_FEED_REGEX_INCLUDE'|translate}}
					</label>
					<label for="filterTypeExclude" class="radio-inline">
						<input type="radio" id="filterTypeExclude" name="regexFilter.type" ng-model="feedsAddCtrl.newFilter.type" value="exclude" required> {{'ADD_FEED_REGEX_EXCLUDE'|translate}}
					</label>
				</div>
				<button type="button" class="btn btn-default" ng-click="feedsAddCtrl.addFilter(feedsAddCtrl.newFilter)" ng-disabled="regexFilter.$invalid"><i class="fa fa-plus"></i></button>
			</div>
			<ul class="list-unstyled feed__filter-list">
				<li ng-repeat="filter in feedsAddCtrl.feed.filters track by $index"><span class="filter-regex">{{filter.regex}}</span><span class="filter-type badge">{{filter.type}}</span><a href="javascript: void(0);" ng-click="feedsAddCtrl.editFilter($index)"><i class="fa fa-pencil"></i></a><a href="javascript: void(0);" ng-click="feedsAddCtrl.deleteFilter($index)"><i class="fa fa-times"></i></a></li>
			</ul>
		</form>
	</div>
</div>
<div class="modal-footer">
	<div class="form-group">
		<button type="button" class="btn btn-default" ng-disabled="">{{'ADD_FEED_TEST'|translate}}</button>
		<button type="submit" class="btn btn-primary" ng-disabled="feedsAddCtrl.checkDisabled()" ng-click="feedsAddCtrl.addRssFeed()">{{'ADD_FEED_ADD'|translate}}</button>
		<button type="button" class="btn btn-default" ng-click="feedsAddCtrl.cancel()">{{'CANCEL'|translate}}</button>
	</div>
</div>
