<div class="rssfeed-head clearfix">
	<h4 class="pull-left"><a href="javascript: void(0);">{{title}}</a></h4>
	<div class="btn-group pull-right">
		<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">
			Edit
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="javascript: void(0);" class="edit-rss-feed">Edit</a></li>
			<li><a href="javascript: void(0);" class="remove-rss-feed">Remove</a></li>
			<li><a href="javascript: void(0);" class="refresh-rss-feed">Refresh</a></li>
		</ul>
	</div>
</div>
<ul class="rss-torrents list-group" style="display: none;">
</ul>