<ol class="breadcrumb">
	<li><a ui-sref="home">Home</a></li>
	<li><a ui-sref="feeds">Feeds</a></li>
	<li class="active">{{feed.title}}</li>
</ol>
<h2>Torrents under {{feed.title}}</h2>
<div class="row">
	<div class="col-xs-3 col-md-2">
		<h4>Feed Actions</h4>
		<ul class="list-unstyled">
			<li><a ui-sref="edit_feed({id: feed._id})">Edit Feed</a></li>
			<li><a>Delete Feed</a></li>
			<li><a>Refresh Feed</a></li>
		</ul>
	</div>
	<div class="col-xs-9 col-md-10">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Status</th>
					<th>Load</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="torrent in feed.torrents">
					<td>{{torrent.name}}</td>
					<td>{{torrent.date | date:"medium"}}</td>
					<td>{{torrent.status}}</td>
					<td><a href="javascript: void(0);" ng-click="loadTorrent(torrent)">Load</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>