<ol class="breadcrumb">
	<li><a ui-sref="home">Home</a></li>
	<li class="active">Feeds</li>
</ol>
<h2>Feeds</h2>
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>RSS</th>
			<th>Last Checked</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="feed in feeds">
			<td style="width: 30%;"><a ui-sref="feed({id: feed._id})">{{feed.title}}</a></td>
			<td>{{feed.rss}}</td>
			<td>{{feed.lastChecked * 1000 | date:'medium'}}</td>
			<td><a ui-sref="edit_feed({id: feed._id})">Edit</a></td>
			<td><a href="javascript: void(0);" ng-click="deleteFeed($index)">Delete</a></td>
		</tr>
	</tbody>
</table>