<ol class="breadcrumb">
	<li><a ui-sref="home">Home</a></li>
	<li class="active">Feeds</li>
</ol>
<h2>Feeds</h2>
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>RSS</th>
			<th>Last Updated</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="feed in feeds">
			<td style="width: 30%;"><a ui-sref="feed({id: feed._id})">{{feed.title}}</a></td>
			<td>{{feed.rss}}</td>
			<td>date placeholder</td>
			<td><a href="#">Edit</a></td>
		</tr>
	</tbody>
</table>