<div class="header">
	<h1 style="margin: 0;" class="pull-left">nodejs-rtorrent <small>{{pageTitle}}</small></h1>
	<nav>
		<ul class="header-nav-list">
			<li><a ui-sref="home.torrents">Torrents</a></li>
			<li><a ui-sref="home.feeds">Feeds</a></li>
			<li>Search</li>
			<li><a ui-sref="settings">Settings</a></li>
		</ul>	
	</nav>
	<ul class="header-secondary-nav-list" ng-controller="LogoutController">
		<li>Logged in as {{user.email}}. <a href="javascript: void(0);" ng-click="logout()">Logout</a></li>
	</ul>
</div>
