<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			.container { max-width: none !important; width: 1350px;}
			.position-fixed {
				position: fixed;
				z-index: 9999;
			}

		</style>
	</head>
	<body>
		<div class="header">
			<h1 style="margin: 0;" class="pull-left">nodejs-rtorrent <small>{{pageTitle}}</small></h1>
			<nav>
				<ul class="header-nav-list">
					<li><a ui-sref="home.torrents">Torrents</a></li>
					<li><a ui-sref="home.feeds">Feeds</a></li>
					<li><a ui-sref="home.search">Search</a></li>
					<li><a ui-sref="settings">Settings</a></li>
				</ul>	
			</nav>
			<ul class="header-secondary-nav-list" ng-controller="AuthenticationCtrl as authenticationCtrl">
				<li ng-if="authenticationCtrl.Authentication.isAuthenticated()" ng-cloak>Logged in as {{authenticationCtrl.Authentication.getCurrentUser().email}}. <a href="javascript: void(0);" ng-click="authenticationCtrl.Authentication.logout()">Logout</a></li>
				<li ng-if="!authenticationCtrl.Authentication.isAuthenticated()" ng-cloak><a ui-sref="login">Login</a></li>
			</ul>
		</div>

		<div ui-view="home"></div>
		<script src="js/app.js"></script>
	</body>
</html>