<div class="content" style="position: relative;" ng-style="style()" resize>
	<div style="position: absolute; bottom: 20px; left: -1px; height: 300px; background: rgba(255, 255, 255, 0.85); display: block; z-index: 30; border: 1px solid #cacaca; box-shadow: 5px 3px 8px #cacaca; ">
		<div style="overflow-y: scroll; width: 200px; height: 100%; float: left; padding: 10px;" ng-hide="torrentPanel">
			<h3>Actions</h3>
			<ul class="list-unstyled">
				<li><a ui-sref="home.torrents.add">Add Torrent</a></li>
			</ul>
			<h4>Filter by Text</h4>
			<input type="text" ng-model="torrentsCtrl.searchText" placeholder="Filter list" class="form-control">
			<h4>Filter by Status</h4>
			<ul class="list-unstyled">
				<li><a href="" ng-click="torrentsCtrl.status=''">All <i ng-class="{'fa fa-check': torrentsCtrl.status===''}" ng-init="torrentsCtrl.status=''"></i></a></li>
				<li><a href="" ng-click="torrentsCtrl.status='downloading'">Downloading <i ng-class="{'fa fa-check': torrentsCtrl.status==='downloading'}"></i></a></li>
				<li><a href="" ng-click="torrentsCtrl.status='finished'">Finished <i ng-class="{'fa fa-check': torrentsCtrl.status==='finished'}"></i></a></li>
				<li><a href="" ng-click="torrentsCtrl.status='stopped'">Stopped <i ng-class="{'fa fa-check': torrentsCtrl.status==='stopped'}"></i></a></li>
				<li><a href="" ng-click="torrentsCtrl.status='seeding'">Seeding <i ng-class="{'fa fa-check': torrentsCtrl.status==='seeding'}"></i></a></li>
			</ul>
			<h4>Hide Columns</h4>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-click="status_col=!status_col" checked> Status</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="size_col=!size_col" checked> Size</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="percent_downloaded_col=!percent_downloaded_col" checked> Done</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="downloaded_col=!downloaded_col" checked> Downloaded</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="uploaded_col=!uploaded_col" checked> Uploaded</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="dl_speed_col=!dl_speed_col" checked> DL Speed</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="ul_speed_col=!ul_speed_col" checked> UL Speed</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="time_remaining_col=!time_remaining_col" checked> ETA</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="peers_col=!peers_col" checked> Peers</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" ng-click="seeds_col=!seeds_col" checked> Seeds</label>
				</div>
			</div>
		</div>
		<div style="width: 20px; height: 100%; float: left;">
			<a href="" style="display: block; height: 100%;" ng-click="torrentPanel = !torrentPanel"><i class="fa fa-lg" style="padding: 10px 5px;" ng-class="{'fa-caret-right': torrentPanel, 'fa-caret-left': !torrentPanel}"></i></a>
		</div>
	</div>
	<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: scroll;">
		<table class="table table-condensed table-hover" style="min-width: 1400px;">
			<colgroup>
				<col style="width: 30%;">
				<col style="width: 120px;">
				<col style="width: 160px;">
				<col style="width: 140px;">
				<col style="width: 140px;">
				<col style="width: 140px;">
				<col style="width: 120px;">
				<col style="width: 120px;">
				<col style="width: 120px;">
				<col style="width: 120px;">
				<col style="width: 120px;">
			</colgroup>
			<thead>
				<tr>
					<th>
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='name';torrentsCtrl.reverse=!torrentsCtrl.reverse">Name <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='name' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='name' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="status_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='status';torrentsCtrl.reverse=!torrentsCtrl.reverse">Status <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='status' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='status' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="size_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='size';torrentsCtrl.reverse=!torrentsCtrl.reverse">Size <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='size' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='size' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="percent_downloaded_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='percent_downloaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Done <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='percent_downloaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='percent_downloaded' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="downloaded_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='downloaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Downloaded <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='downloaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='downloaded' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="uploaded_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='uploaded';torrentsCtrl.reverse=!torrentsCtrl.reverse">Uploaded <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='uploaded' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='uploaded' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="dl_speed_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='dl_speed';torrentsCtrl.reverse=!torrentsCtrl.reverse">DL <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='dl_speed' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='dl_speed' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="ul_speed_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='ul_speed';torrentsCtrl.reverse=!torrentsCtrl.reverse">UL <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='ul_speed' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='ul_speed' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="time_remaining_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='time_remaining';torrentsCtrl.reverse=!torrentsCtrl.reverse">ETA <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='time_remaining' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='time_remaining' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="peers_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='peers';torrentsCtrl.reverse=!torrentsCtrl.reverse">Peers <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='peers' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='peers' && !torrentsCtrl.reverse}"></i></a>
					</th>
					<th ng-hide="seeds_col">
						<a href="javascript: void(0);" ng-click="torrentsCtrl.predicate='seeds';torrentsCtrl.reverse=!torrentsCtrl.reverse">Seeds <i class="fa" ng-class="{'fa-caret-up': torrentsCtrl.predicate==='seeds' && torrentsCtrl.reverse, 'fa-caret-down': torrentsCtrl.predicate==='seeds' && !torrentsCtrl.reverse}"></i></a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="torrent in torrentsCtrl.Torrents.torrents | orderBy:torrentsCtrl.predicate:torrentsCtrl.reverse | filter:{status: torrentsCtrl.status} | filter:torrentsCtrl.searchText track by torrent.hash" class="torrent" context-menu data-target="menu-{{$index}}">
					<td>
						<div class="clearfix" style="position: relative;">
							<h5 class="pull-left" style="white-space: nowrap; overflow: hidden;" title="{{torrent.name}}">{{torrent.name}}</h5>
						</div>
						<div class="dropdown position-fixed" id="menu-{{$index}}">
							<ul class="dropdown-menu" role="menu">
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.start(torrent.hash)">Play</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.pause(torrent.hash)">Pause</a></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.stop(torrent.hash)">Stop</a></li>
								<li class="divider"></li>
								<li class="dropdown-submenu">
									<a href="javascript: void(0);">Priority</a>
									<ul class="dropdown-menu">
										<li><a href="javascript: void(0);">High</a></li>
										<li><a href="javascript: void(0);">Medium</a></li>
										<li><a href="javascript: void(0);">Low</a></li>
										<li><a href="javascript: void(0);">Don't Download</a></li>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="javascript: void(0);">Set Channel</a>
									<ul class="dropdown-menu">
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, '')">No Channel</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'up_4')">Up16</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'up_3')">Up32</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'up_2')">Up64</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'up_1')">Up128</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'up_0')">Up256</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'down_4')">Down16</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'down_3')">Down32</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'down_2')">Down64</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'down_1')">Down128</a></li>
										<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.setChannel(torrent.hash, 'down_0')">Down256</a></li>
									</ul>
								</li>
								<li class="divider"></li>
								<li><a href="javascript: void(0);" ng-click="torrentsCtrl.Torrents.remove(torrent.hash)">Remove</a></li>
								<li><a href="javascript: void(0);" ng-click="">Details</a></li>
							</ul>
						</div>
					</td>
					<td ng-hide="status_col">{{torrent.status}}</td>
					<td ng-hide="size_col">{{torrent.size | bytes}}</td>
					<td ng-hide="percent_downloaded_col">
						<div class="progress">
							<div class="progress-bar" style="width: {{torrent.percent_downloaded | percentage}}" ng-class="{'progress-bar-warning': torrent.status === 'checking', 'progress-bar-success': torrent.status === 'seeding'}">{{torrent.percent_downloaded  | percentage}}</div>
						</div>
					</td>
					<td ng-hide="downloaded_col">{{torrent.downloaded | bytes}}</td>
					<td ng-hide="uploaded_col">{{torrent.uploaded | bytes}}</td>
					<td ng-hide="dl_speed_col">{{torrent.dl_speed | dataTransferRate}}</td>
					<td ng-hide="ul_speed_col">{{torrent.ul_speed | dataTransferRate}}</td>
					<td ng-hide="time_remaining_col">{{torrent.time_remaining | time}}</td>
					<td ng-hide="peers_col">{{torrent.peers}} ({{torrent.total_peers}})</td>
					<td ng-hide="seeds_col">{{torrent.seeds}} ({{torrent.total_seeds}})</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
