// Header

/*
	Position
	Display/Box Model
	Color
	Text
	Other
*/

.header {
	@include clearfix();
	
	width: 100%;
	padding: 15px; 
	border-bottom: 1px solid #D8D8D8;
	background-color: rgba(255, 255, 255, 0.85);
	
	nav {
		float: left;
	}
}

.header-nav-list {
	padding-left: 0;
	margin-bottom: 0;

	list-style: none;

	margin-left: 30px;

	> li {
		display: inline-block;
		margin-right: 10px;
		line-height: 39px;

		> a {

		}
	}
}

.header-secondary-nav-list {
	float: right;

	padding-left: 0;
	margin-bottom: 0;

	list-style: none;

	> li {
		display: inline-block;
		margin-right: 10px;

		line-height: 39px;
		
		> a {
			
		}
	}
}
